{% load static %}
    <!-- Secondary nav -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #CDF0EA;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Modo Profesor</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="{% url 'data_analysis' %}">Cargar datos</a>
            <a class="nav-link" href="{% url 'general_analysis' %}">General</a>
            <a class="nav-link" href="{% url 'part_analysis' %}">Participantes</a>
          </div>
        </div>
      </div>
    </nav>
    <!-- End Secondary nav -->

