{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container body-content">
  <p>
<div class="card shadow">
  <div class="card-body">
  <h2>Análisis de cluster</h2>
  <p>Incluye estudiantes y profesores</p>
</div>
</div>
</p>
  {% if result_present %}
  <div class="row">
  <div class="col-sm-6">
    <div class="container body-content shadow">
      <strong>Tipos de actividades más accedidas:</strong>
      {{ div1|safe }}
    </div>  
  </div> 

  <div class="col-sm-6">
    <div class="container body-content shadow">
      <strong>Actividades más accedidas:</strong>
      {{ div2|safe }}
    </div>  
   </div>
  
</div>
</div>

    {% else %}
    <div class="alert alert-danger" role="alert">
      <strong>Atención!</strong> No ha subido ningún reporte!
    </div>

  {% endif %}

  <script src="{% static 'plotly-latest.min.js' %}" ></script>
{% endblock %}
