{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container body-content">
  <p>
<div class="card shadow">
  <div class="card-body">
  <h2>Análisis generales</h2>
  <p>Basados en accesos de los participantes. Incluye estudiantes y profesores</p>
</div>
</div>
</p>
  {% if result_present %}
  <p>
  <div class="row"> 
  <div class="col-sm-8 h-100">
  <div class="card shadow">
    <div class="card-body">
      <strong>Accesos diarios:</strong>
      {{ div1|safe }}
    </div>
  </div>
  </div> 

    <div class="col-sm-4 h-100" >
      <div class="card shadow">
        <div class="card-body">
        <strong>Accesos por día de la semana:</strong>
        {{ div2|safe }}
      </div>
      </div>
    </div>
  </div>
  </p>

  <div class="card shadow">
    <div class="card-body">
    <p><strong>Accesos por países:</strong></p>
    {{ div3|safe }}
  </div>

</div>
</div>
</p>
<p></p>
<p></p>
  <script src="{% static 'plotly-latest.min.js' %}" ></script>
    {% else %}
    <div class="alert alert-danger shadow" role="alert">
      <strong>Atención!</strong> No ha subido ningún reporte!
    </div>
  {% endif %}
 
{% endblock %}
