{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container body-content">
  <div class="card shadow"> 
    <div class="card-body">
    <h2>Moodle Offline Analytics</h2>
    <h3>Ayuda de la aplicación</h3>
    <p>
      <img src="/static/images/moodle01.jpg">
    </p>
   
    <h3>Donde descargar los CSV </h3>
    
    <p>En la página principal del curso en Moodle, 
      vaya al menú que aparece en la rueda dentada y haga clic en "Aún más" como aparece en la siguiente imagen:
      <p>
        <img src="/static/images/paso01.png">
      </p>
      <p>
        <img src="/static/images/paso02.png">
      </p>
    <p>Siga la ruta @Informes/Registros":</p>
    <p>
      <img src="/static/images/paso03.png">
    </p>
    <p>luego haga clic en "Conseguir estos registros" y descargue los registros como CSV:</p>
    <p>
      <img src="/static/images/paso04.png">
    </p>
    
    <p>Este fichero .csv lo puede subir en este <a href="{% url 'data_analysis' %}"">sitio</a> para su análisis.</p>
    
</div>
</div>
</div>

{% endblock %}
