

{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="/">Moodle Offline Analytics</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'data_analysis' %}">Datos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'general_analysis' %}">General</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'part_analysis' %}">Participantes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'act_analysis' %}">Actividades</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Ayuda</a>
      </li>
    </ul>
  </div>
</nav>



