{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container body-content">
  <p>
  <div class="card shadow">
    <div class="card-body">
      <h2>Análisis de participantes</h2>
      <p>Incluye estudiantes y profesores</p>
    </div>
  </div>
  </p>
  {% if result_present %}
  <div class="row">
    <div class="col-sm-6">
      <div class="container body-content shadow">
        <p><strong>Cantidad de participantes: {{ cant_part }}</strong></p>
        <p><strong>Lista de usuarios con cantidad de accesos:</strong></p>
        <div class="table-responsive">
          {{ df|safe }}
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="container body-content shadow">
        <p><strong>Cantidad de participantes por actividad:</strong></p>
        <p>{{ div1|safe }}</p>
      </div>
    </div>

  </div>

  <p>
  <div class="card shadow">
    <div class="card-body">
      <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown link
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          {% for user in users_list %}
          <li><a class="dropdown-item" href="#">{{ user }}</a></li>
          {% endfor %}
        </ul>
      </div>

    </div>
  </div>
  </p>

</div>
<script src="{% static 'plotly-latest.min.js' %}"></script>
{% else %}
<div class="alert alert-danger" role="alert">
  <strong>Atención!</strong> No ha subido ningún reporte!
</div>

{% endif %}


{% endblock %}