{% extends 'base.html' %}

{% load static %}

{% block title %}
Subir datos
{% endblock title %}

{% block 2navbar %}
{% include '2bar_direct.html' %}
{% endblock 2navbar %}

{% block content %}
<!--  Flatpicker Styles  -->
<link href="{% static 'flatpickr.min.css' %}" rel="stylesheet">

<div class="container body-content">
  <div class="row">

    <div class="col-sm-6">
      <p>
      <div class="card shadow">
        <div class="card-body">
          <h2>Subir datos</h2>
          <form method="post" enctype="multipart/form-data" id="fileForm">
            <p>
            <div class="mb-3">
              <label for="formFile" class="form-label">Suba el reporte del curso (Tipo: .csv; Tamaño máximo: 10Mb):</label>
              <input class="form-control" name="myfile1[]" type="file" id="file" accept=".csv" multiple>
            </div>
            </p>
            <!-- <p>
            <div class="mb-3">
              <label for="formFile" class="form-label">(opcional) Suba el fichero de respaldo del curso .mbz</label>
              <input class="form-control" name="myfile2" type="file" id="formFile">
            </div>
            </p> -->
            {% csrf_token %}
            <p>
            <div class="form-group">
              <button type="submit" class="btn btn-sm btn-primary">Subir reporte</button>

              {% if result_present %}
              <button type="button" class="btn btn-sm btn-link">
                <a href="{% url 'del_global_df' %}?new_df=True">Eliminar Datos</a></button>

              <h5>Rango de fecha de los datos:<br>
                <span class="badge bg-success">{{ date_s }}</span> -
                <span class="badge bg-success">{{ date_f }}</span>
              </h5>

              <h5>Cantidad de accesos: <span class="badge bg-success"> {{ c_acc }}</span></h5>
              <h5>Cantidad de cursos: <span class="badge bg-success"> {{ num_cursos }}</span></h5>
              {% endif %}

            </div>
            </p>
          </form>
        </div>
      </div>
      </p>
    </div>




    {% if result_present %}
    <div class="col-sm-6">
      <p>
      <div class="card shadow">
        <div class="card-body">
          <h2>Filtrar</h2>
          <form method="post" enctype="multipart/form-data">
            <p>
            <div class="form-group">

              <p>Fecha inicio: <input type="text" name="date_s" id="basicDate" placeholder="Seleccione una fecha"
                  data-input style="width : 120px">
                Fecha final: <input type="text" name="date_f" id="basicDate2" placeholder="Seleccione una fecha"
                  data-input style="width : 120px"></p>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-sm btn-primary">Filtrar</button>
            </div>
            </p>

            {% csrf_token %}
            <p>
            <p>Seleccione los participantes a excluir (profesores, gestores, invitados, etc.)</p>
            <select id=multiple name="multiple[]" multiple="multiple" size="4" class="list-group">
              {% for user in users_list %}
              <option value="{{ user }}" class="list-group-item list-group-item-action">{{ user }}</option>
              {% endfor %}
            </select>
            </p>
            <p></p>
            <div class="form-group">
              <button type="submit" class="btn btn-sm btn-primary">Excluir usuarios seleccionados</button>
            </div>
            </p>
          </form>
        </div>
      </div>
      </p>
    </div>
  </div>
</div>

{% endif %}

{% if result_present %}
<p>
<div class="container body-content">
  {{ lista_usuarios_exclu }}
  <p><strong>10 primeros registros de los datos subidos:</strong></p>
  <div class="table-responsive">
    {{ df|safe }}
  </div>
</div>

</p>
{% endif %}

{% for message in messages %}
<div class="container body-content">
  <div class="alert alert-danger shadow" role="alert">
    {{ message | safe }}
  </div>
</div>
{% endfor %}

{% endblock %}